* {
  margin: 0%;
  padding: 0%;
}
main {
  background-color: #f8f9fb;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  background-color: white;
}
.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 95vw;
}
.header_bar a {
  text-decoration: none;
  color: black;
}
.logo img {
  width: 5em;
  height: 2em;
}
.search input {
  height: 3.5em;
  width: 40em;
  border-radius: 30px;
  border: 1px solid black;
  padding-left: 4em;
  background-color: #f8f9fb;
}
.circle_circle {
  width: 2em;
  height: 2em;
}
.circle1 {
  width: inherit;
  height: inherit;
  background-color: black;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}
.circle2 {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 1.4em;
  right: 1.5em;
  background-color: purple;
}
.search i {
  position: absolute;
  margin-left: 1em;
  margin-top: 15px;
  font-size: large;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  background-color: white;
  margin-top: 1.5px;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94vw;
  height: 2.5em;
}
.nav_bar a {
  text-decoration: none;
  color: black;
}
.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;

  /* width: 100%; */
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background-color: #f8f9fb;
  width: 98.5%;
  padding-left: 1em;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.pic_div {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
.text_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 28vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3em;
  padding: 1.5em;
  border-radius: 8px;
  margin-left: 3em;
}
.text_div h1 {
  font-size: 2.3em;
}
.text_div p {
  font-size: 1.5em;
}
.img_div {
  padding-right: 6em;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
.footer_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
}
.footer_div h2 {
  font-size: 2em;
  padding-left: 1em;
}
.footer_div a {
  text-decoration: none;
  color: purple;
  font-size: large;
  font-weight: 800;
  padding-right: 1em;
}
